/*
    || SPECIFICS CSS FOR WAKANDA
*/
h1 {
    font-family: 'BEYNO';
}

p {
    text-align: justify;
}

section[class="introduction"] {
    margin-top: -10%;
    background-image: url('../images/wakanda/Pantherwakanda1.png');
    height: 65vh;
    width: 101%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: -10em 0em;
    padding: 10%;
}

section[class="introduction"] p {
    width: 60vh;
    text-align: justify;
}

section[class="content"] .wrapper {
    display: grid;
    grid-template-columns:6vw 40vw 7vw 40vw 5vw;
}

section[class="content"] .left-content {
    grid-column: 2/3;
}

section[class="content"] .right-content {
    grid-column: 4/5;
}